<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.why.blog.basic.mapper.DynamicsMapper">

    <sql id="Base_Column_List">
        id,
        dynamics_msg，
        create_date,
        create_user,
        update_date,
        update_user,
        is_delete,
        is_enable
    </sql>

    <sql id="Table_Name">
      dynamics
    </sql>

    <resultMap type="cn.why.blog.basic.entity.Dynamics" id="baseMap">
        <id property="id" column="id"/>
        <result property="dynamicsMsg" column="dynamics_msg"/>
        <result property="createUser" column="create_user"/>
        <result property="createDate" column="create_date"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateDate" column="update_date"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isEnable" column="is_enable"/>
        <collection property="createBasicUser" ofType="cn.why.blog.basic.entity.BasicUser" column="create_user" select="cn.why.blog.basic.mapper.BasicUserMapper.getUserById"/>
    </resultMap>

    <select id="getDynamicsTopTen" resultMap="baseMap">
        SELECT
          *
        FROM
          <include refid="Table_Name"/>
        WHERE
          is_delete = 1
        AND
          is_enable = 1
        ORDER BY
          create_date DESC
        LIMIT 0,10
    </select>

</mapper>